{{page-title "Liens - Aiki3 - club d'Aikido à Troyes"}}
<div class="page links">
  <section class="sites">
    {{#each this.linkItems as |linkItem|}}
      <div class="link">
        <a href={{linkItem.url}} target="_blank" rel="noopener noreferrer">
          <img src={{linkItem.image}} alt={{linkItem.title}} title={{linkItem.title}}>
          <br>
          {{linkItem.title}}
        </a>
      </div>
    {{/each}}
  </section>
  {{#if this.docs}}
    <section class="docs">
      <h1>Documents à télécharger</h1>
      <ul>
        {{#each this.docs as |doc|}}
          <li>
            <p>{{doc.title}}&nbsp;: <a href={{doc.url}} target="_blank" rel="noopener noreferrer">Télécharger</a></p>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}
</div>
